[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = git@github.com:ohmyzsh/ohmyzsh.git
	branch = master
[submodule ".config/bpytop/themes"]
	path = .config/bpytop/themes
	url = git@github.com:catppuccin/btop.git
[submodule "/home/photovoltex/.config/zathura/theme"]
	path = /home/photovoltex/.config/zathura/theme
	url = git@github.com:catppuccin/zathura.git
