# ignore all
**

!.config/
!.config/bpytop
!.config/bpytop/themes
!.config/bpytop/bpytop.conf
!.config/gtk-3.0
!.config/gtk-3.0/settings.ini
!.config/kitty
!.config/kitty/*.conf
!.config/ncspot
!.config/ncspot/config.toml
!.config/neofetch
!.config/neofetch/config.conf
!.config/sway
!.config/sway/config
!.config/swaync
!.config/swaync/**
!.config/waybar
!.config/waybar/**
!.config/wlogout
!.config/wlogout/**
.config/wlogout/wlogout_screenshot.png
!.config/wofi
!.config/wofi/**
!.config/zathura
!.config/zathura/zathurarc

!.oh-my-zsh

!.scripts
!.scripts/**

!.swaylock
!.swaylock/**

!.gitignore
!.gitmodules
!.gtkrc-2.0

!.zshrc

# documentation!!!! ha ha
!README.md
